<%- include('partials/header') %>
  <div class="starter-template text-center py-5 px-3">
    <h1>Tabuada</h1>
    <p class="lead">Gere tabuadas de números de 1 a 100.</p>
  </div>
  <%- include('partials/footer') %>